<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="expansion">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h2>Weeks 1-6</h2>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <h3>Days 1-46</h3>
        <p class="posts">Since I have begun this project weeks into the shelter in place order I decided to do a small
            recap of my time so far.
            As an introvert being sheltered in place is not the worst thing happen to me. Being able to stay home with
            my girlfriend and son has been a blessing.
            Enjoying our days together by going on walks, hikes, watching movies, having dance parties, reading books,
            and playing with trains.
            Me and my better half trying out different routines, to help cope with boredom and monotony that began to
            sink in for me around the three-week mark and her the third day(she is a social person).
            Around the middle of April, we found a routine we liked, getting an idea from someone in her mom's groups,
            we both get a three-hour chunk during the day to work on and do whatever we want.
            My Time is in the morning from around nine to twelve, her time was set after dinner around six to nine. This
            worked great for us both, having time during the day to simply work and find some meaning to our days.
            During these 46 days, I have strived to continue my programming career, I had just finished my coding boot
            camp grand circus when this all hit.
            Unfortunately I was not able to get into a position before the virus hit. I had accepted a position with a
            company to be apart of their associate engineer program, but it had to be rescheduled to the third quarter
            of the year, job loss.
            multiple jobs later with the same answer, we are waiting until the shelter in place order is up to hire.
            This was extremely discouraging for me, a recent grad hungry and eager to hop into the industry he just
            spent 6 grueling months working to get into and it can't happen because of a virus.
            I understand the position these employers are in right now, this is an extremely difficult time not knowing
            what the future may hold for the economy.
            I did not want to stop so I kept honing my skill, I developed my website, so when employers were ready again
            I would be ready to be hired by them.
            Then I moved on to updating previous applications, cleaning things up. I continued to apply and network
            getting my face out there as much as possible. I wont let this virus beat me down.
            Now things lead me here to this blog, I want to do something to help with my skills as a developer. For a
            while I could not think of anything to do for my project.
            everything I thought of would have been to difficult or needed very specific data that was not available.
            Then my girlfriend said blog about your time during the crisis.
            Fireworks, I may not be able to help too much with the virus but I can share my experiences during this
            time, and hopefully help someone out even if it is just brightening their day. I think this is good enough
            recap for my time spent so far during the shelter in place order, I am excited to continue this blog,
            upgrading it as I go and sharing my day with everyone.


            This has been Benjamin Rolls, thank you for reading.
        </p>
    </mat-expansion-panel>
</mat-accordion>


<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="expansion">
        <mat-expansion-panel-header>
            <h2>Week 7</h2>
        </mat-expansion-panel-header>
        <h3>Day 47, May 4th, 2020:
            May the fourth be with you always
        </h3>
        <p class="posts"> Today was a good day, I got to run out to the meat market for some chicken, sausage, and bacon
            for them
            meals we are gonna have this week. I made the decision to grab some beer and snacks as well. once I got home
            to my warm and loving
            family, I dropped off the groceries and started my time.
            Today I started my blog, I began developing it and recapping the first 46 days of my adventures inside.
            It is a nice change of pace to have a project I am excited about again, I plug away for about an hour, and
            then I go into my run.
            I have been working out for about two weeks now, running about two miles every day, and doing push-ups. I am
            going to begin increasing the distance tomorrow, and I increased my push up count from 5 to 10 every song
            change during the run. I get home, shower up and continue plugging away at my blog, finishing up my last 30
            minutes with some Super Smash Bros Melee. I get some lunch, I and the family take a walk around the
            neighborhood,
            get home, and put my son down for a nap. I and Brooke have a meeting today with a financial advisor I
            connected with a couple of weeks ago, to help us allocate our funds to the appropriate places, so we can
            purchase a home and be debt-free.
            the meeting goes great and we got a lot of good info, my girlfriend makes an amazing dinner, sauteed tofu on
            a bed of rice. Once we finish up it is her turn to work, I began watching StarWars with my son cause it just
            came out on Disney plus so I had to. we finish up about half and then move onto frozen because he is only 2
            and a half so anna and else is loved here. The movie finishes and we take a bath to wind down for the
            evening, playing
            with some toys until bedtime.
            My son's bedtime goes like this, water, books, into hugs, kisses and then water one last time, then off to
            dreamland like clockwork.
            We settle down for the evening by picking up the house, having a cold one and finishing
            up StarWars.

            This has been Benjamin Rolls, thanks for reading.
        </p>
        <h3>Day 48, May 5th, 2020:</h3>
        <p class="posts">Today was a slow start, I rolled out of bed to grab my son out of his room and lay back down
            on the couch as he watched PBS.
            had some coffee, had a run and workout, then started my time. Today I was trying to figure out GitHub Pages
            work, I wanted to deploy the blog today.
            ng deploy --base-href is not wanting to work. The console is telling me it is a CORS issue but I don't have
            a
            server set up so I don't see why that's an issue.
            Google had many solutions but it did not want to work, I was not successful today but I will come back for
            it later. I finished up my time with some games to unwind from the ghPages not working, Fortnite was a great
            way to end the time.
            I and the family went millennium park today, it was beautiful out and they have some great trails. Today I
            made
            apple and cheddar pizzettes for dinner, with a garlic butter crust.
            they were delicious and went perfectly with a nice cold beer. Me and my son started our time together and
            watched a movie, played with cars and his farm set. once nine o'clock approached we began to slow down and
            get some pajamas on for the night.
            Read some books and went to bed at 9:30, we cleaned up the house for the night and started to close out the
            evening.

            This has been Benjamin Rolls, thanks for reading.
        </p>

        <h3>Day 49, May 6th, 2020:</h3>
        <p class="posts">Today was a faster start, I got up and around made the coffee started my time, today was a work
            around the house day.
            I started with the run, even though I wanted to wait because I had running shoes coming in (I had been
            running on flat sole shoes, not good). I got home from my run and made some brunch. Egg, cheddar, greens,
            turkey, and siracha mayo panini, I outdid myself today. after eating I headed outside taking care of the
            trash and
            getting the lawnmower out of retirement.
            After trying to start unsuccessfully, I put some oil in and let it sit weed whacking in the meantime. No
            luck on the lawnmower today ill have to look at a different day, I spent the rest of my time cleaning around
            the house and relaxing with some games. The mailman walked up with a package, I was so excited. I ripped
            open the box to find my new shoes, they were beautiful. Then went out for our daily walk, just around the
            neighborhood
            today.
            Silas went down for a nap after we got home and my girlfriend went out to get some flowers and plants for
            our front porch. While she was out some family came over and we chatted for a bit and then I began dinner
            after they left. Cranberry sausage stuffing, this was gonna be yummy. After prepping everything and letting
            it bake for 45 minutes, it was ready. The stuffing was fire, I devoured two helpings, capping it off with my
            last beer.
            My son and I spent the rest of our day outside running around the yard and drawing with sidewalk chalk, as
            mom potted her plants and set them up on the railing of the deck. It was a fantastic end to a fantastic day,
            I put my son to bed and then me and the misses settled down for the night with a show on Netflix.

            This has been Benjamin Rolls, thanks for reading.
        </p>
        <h3>Day 50: May 7th, 2020:</h3>
        <p>Today was the day, the blog was officially posted onto the inter webs for the people to read. I decided that
            ghPages was just gonna be to much of a hassle to work with when I could just upload to netlify.
            It is a gratifying experience to post another application whether it be big or small, easy or hard.
            It shows that I am committed to continue bettering myself, and keeping up my coding career instead of taking
            a break during the shelter in place. Once finished with the blog, I did some more networking and spoke with
            a very nice recruiter telling her about myself and what I am looking for in a position. Networking has been
            one of my main goals during shelter in place, due to companies not being able to hire. I want people to know
            who I am, and see my drive and technical capabilities. The next part of my day was going to auto zone to get
            a new turn signal for my car. Once home it was nap time for the little one and after he went down i got sto
            spend some virtual time with my friends and family playing some games. Once my son woke up me and him went
            out to fix the light together. We were successful and went inside to tell mom and then continue the rest of
            our time together. It was a little bit of struggle, my son is a wonderful kid but he can get very bossy like
            any other 2 year old can, today he wanted to be extra bossy. Overall today was a great day filled with
            laughs, fun, and good work. After the kid went to bed I cleaned up the house and then got ready for the end
            of my night.

            This has been Benjamin Rolls, thanks for reading.
        </p>
    </mat-expansion-panel>
</mat-accordion>